{% extends "base.html" %}
{% block content %}
<div class="box">
    <p class="about_title">Welcome to Fun with Flags!</p>
    <p class="info">Here you see an educational application Fun with Flags. <a
            href="/country_quiz">Here</a>
        you can check and improve your knowledge by guessing which country the
        flag belongs to, and <a href="/flag_quiz">here</a>
        you can try the same with guessing flag of the country. Three difficulty
        levels are available, you can set them
        <a href="/settings">here</a>. Also you can have some training in our <a
                href="/list_of_countries">countries list</a> and <a
                href="/random_country">random country generator</a>. Enjoy
        yourself!</p>
    <p class="about_title">Created by</p>
    <ul>
        <li class="contact"><a href="https://github.com/lialikova-ia">Ирина
            Ляликова</a></li>
        <li class="contact"><a href="https://github.com/mokeevdmitrii">Дмитрий
            Мокеев</a></li>
    </ul>
    <p class="about_title">Thank you!</p>
</div>
{% endblock %}