<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {
            font-family: Arial, serif;
            color: green;
        }
    </style>
    <script>
        window.onbeforeunload = function (e) {
            //e = e || window.event;

            // For IE and Firefox prior to version 4
            if (e) {
                //e.returnValue = 'Sure?';
            }

            // For Safari
            //return 'Sure?';
        };
    </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>