{% extends "base.html" %}
{% block content %}
<div class="box">
    <div class="central_message">
        <form action="/settings" method="post">
            <p class="country_title">Current level: {% if session.get('level') == 0 %}easy{% elif session.get('level') == 1 %}medium{% else %}hard{% endif %}. Choose level</p>
            <ul class="levels">
                <li class="level">
                    <input class="orange_button" type="submit" name="0"
                           value="Easy">
                </li>
                <li class="level">
                    <input class="orange_button" type="submit" name="1"
                           value="Medium">
                </li>
                <li class="level">
                    <input class="orange_button" type="submit" name="2"
                           value="Hard">
                </li>
            </ul>
        </form>
        <div class="big_button">
            <a class="orange_button" href="/">Home</a>
        </div>
    </div>
</div>
{% endblock %}